<h3>Hi <%=  @employee.name %></h3>
<p>Welcome to Iffatech </p>
<p>New Project Assign Name is <%= @project.title %></p>
<p>Your Project Start Date is <%= @project.start_date%></p>
<p><a href="http://localhost:3000">Sign_in</a></p>
