<h3>Hi <%= @admin.first_name %></h3>
<p>Welcome to Iffatech </p>
<p>Your Email is <%= @admin.email %></p>
<p>Your password is <%= @admin.password %></p>
<p><a href="http://localhost:3000">Sign_in</a></p>

